name: Pre-Release

on:
  push:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@faf52423ec0d44c58f68e83b614bfcd99dded66f # v5
        with:
          go-version: '1.25'

      - name: Build binaries
        run: make release

      - name: Create Release and Upload Assets
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          gh release create "pre-release-$SHORT_SHA" \
            --title "Pre-release $SHORT_SHA" \
            --prerelease \
            dist/*
